

.red-message{
 color :red ;
 font-size: 20px;

}

.green-message{
 color : green ;
 font-size: 20px;
}

.green-border{
  border-style:solid;
  border-color: green;
  border-width: 2px;
}

.red-border{
  border-style:solid;
  border-color: red;
    border-width: 2px;
}
